@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);


  --font-*: initial;
  --font-medium: var(--font-medium);
  --font-bold: var(--font-bold);
  --font-extrabold: var(--font-extrabold);



  --breakpoint-*: initial;
  --breakpoint-mobile: 560px;
  --breakpoint-tablet: 760px;
  --breakpoint-desktop: 960px;
  --breakpoint-wide: 1370px;


}


@utility container {
  padding-inline: 10px;
  margin-inline: auto;
  
  @variant mobile {
    padding-inline: 20px;
  }
  
  @variant tablet {
    padding-inline: 80px;
  }
  
  @variant desktop {
    padding-inline: 120px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

